{
	SubShader
	{
	    Tags{ "RenderPipeline" = "HDRenderPipeline" }
		Cull Back
		
		${VFXInclude("Shaders/VFXParticleHeader.template")}
		${VFXInclude("Shaders/ParticleHexahedron/PassSelection.template")}
		${VFXInclude("Shaders/ParticleHexahedron/PassDepth.template"),IS_OPAQUE_PARTICLE}
		${VFXInclude("Shaders/ParticleHexahedron/PassVelocity.template"),USE_MOTION_VECTORS_PASS}
		${VFXIncludeRP("Templates/Hexahedron/PassGBuffer.template")}
		${VFXIncludeRP("Templates/Hexahedron/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
