{
	SubShader
	{
		${VFXInclude("Shaders/VFXParticleHeader.template")}
		${VFXInclude("Shaders/ParticleHexahedron/PassSelection.template")}
		${VFXIncludeRP("Templates/HDRPDecal/PassDBuffer.template")}
		${VFXIncludeRP("Templates/HDRPDecal/PassForwardEmissive.template"), NEEDS_FORWARD_EMISSIVE_PASS}
	}
}
