.sg-help-box {
    background-color: #fcd76e;
    color: #584308;

    flex-grow: 1;
    flex-direction: row;

    margin-left: 8px;
    margin-right: 8px;
    padding: 4px 8px;

    border-radius: 2px;
}

#sg-help-box-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 8px;
    background-image: resource("console.warningicon");
}
