# Code Ownership File

/com.unity.postprocessing/ @BenGraterUnity

# Universal RP Team
/Packages/com.unity.render-pipelines.universal/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Packages/com.unity.testing.urp-upgrade/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Packages/com.unity.testing.urp/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Projects/UniversalGraphicsTest_Foundation/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Projects/UniversalGraphicsTest_Lighting/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Projects/UniversalGraphicsTest_PostPro/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Projects/UniversalGraphicsTest_Terrain/ @Unity-Technologies/universal-rp-team
/Tests/SRPTests/Projects/UniversalGfxTestStereo/ @Unity-Technologies/universal-rp-team
/com.unity.template-universal/ @Unity-Technologies/universal-rp-team

# Universal 2D Renderer
/Packages/com.unity.render-pipelines.universal/Editor/2D @Unity-Technologies/2d-graphics
/Packages/com.unity.render-pipelines.universal/Runtime/2D @Unity-Technologies/2d-graphics
/Packages/com.unity.render-pipelines.universal/Shaders/2D @Unity-Technologies/2d-graphics
/Packages/com.unity.render-pipelines.universal/Editor/ShaderGraph/MasterNodes @Unity-Technologies/2d-graphics
/Tests/SRPTests/Projects/UniversalGraphicsTest_2D/ @Unity-Technologies/2d-graphics

# Shader Graph
/Packages/com.unity.shadergraph/ @Unity-Technologies/shader-graph

# XR
/Packages/com.unity.render-pipelines.core/Runtime/XR @Unity-Technologies/xr-graphics

# Test systems
/.github/ @Unity-Technologies/gfx-sdets
/.yamato/ @Unity-Technologies/gfx-sdets
/Tools/ @Unity-Technologies/gfx-sdets
