# Code Ownership File

# Universal RP General
/Packages/com.unity.render-pipelines.universal/ @Unity-Technologies/universal-rp-team @Unity-Technologies/gfx-qa-urp

# Universal RP 2D Renderer
/Packages/com.unity.render-pipelines.universal/Editor/2D @Unity-Technologies/2d-graphics
/Packages/com.unity.render-pipelines.universal/Runtime/2D @Unity-Technologies/2d-graphics
/Packages/com.unity.render-pipelines.universal/Shaders/2D @Unity-Technologies/2d-graphics
/Packages/com.unity.render-pipelines.universal/Editor/ShaderGraph/MasterNodes @Unity-Technologies/2d-graphics

# Shader Graph
/Packages/com.unity.shadergraph/ @Unity-Technologies/shader-graph

# Test systems
/.github/ @Unity-Technologies/gfx-sdets
/.yamato/ @Unity-Technologies/gfx-sdets
/Tools/ @Unity-Technologies/gfx-sdets
