# Code Ownership File

# Universal RP General
/com.unity.render-pipelines.universal/ @Unity-Technologies/universal-rp-team
/com.unity.render-pipelines.universal/CHANGELOG.md @Unity-Technologies/gfx-docs

# Universal RP 2D Renderer
/com.unity.render-pipelines.universal/Editor/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Runtime/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Shaders/2D @Unity-Technologies/2d-graphics
/com.unity.render-pipelines.universal/Editor/ShaderGraph/MasterNodes @Unity-Technologies/2d-graphics

# Shader Graph
/com.unity.shadergraph/ @Unity-Technologies/shader-graph
/com.unity.shadergraph/CHANGELOG.md @Unity-Technologies/gfx-docs

# Test systems
/.yamato/ @Unity-Technologies/gfx-sdets
/katana-ci/ @Unity-Technologies/gfx-sdets
/com.unity.testframework.graphics/ @Unity-Technologies/gfx-sdets

# LWRP (Legacy)
/com.unity.render-pipelines.lightweight/ @Unity-Technologies/universal-rp-team
/com.unity.render-pipelines.lightweight/CHANGELOG.md @Unity-Technologies/gfx-docs
