
[Aa]rtifacts/
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Ss]treaming[Aa]ssets/
[Aa]ctual[Ii]mages/
[Ll]og/
[Aa]ctual[Ii]mages.meta
[Ss]treaming[Aa]ssets.meta
.vs
.vscode
.idea
.DS_Store
*.aspx
*.browser
*.csproj
*.exe
*.ini
*.map
*.mdb
*.npmrc
*.pyc
*.resS
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.userprefs
.npmrc
ShaderGraph/DebugOutput.meta
ShaderGraph/DebugOutput/**
ShaderGraph/Testing/IntegrationTests/.Failed
TestProjects/ShaderGraph/ProjectSettings/ProjectVersion.txt
TestProjects/VisualEffectGraph/ProjectSettings/ProjectVersion.txt
