com.unity.shadergraph/**/*.png filter=lfs diff=lfs merge=lfs -text
com.unity.shadergraph/**/*.gif filter=lfs diff=lfs merge=lfs -text
TestProjects/**/*.png filter=lfs diff=lfs merge=lfs -text
TestProjects/**/*.tif filter=lfs diff=lfs merge=lfs -text
TestProjects/**/*.exr filter=lfs diff=lfs merge=lfs -text
TestProjects/**/*.fbx filter=lfs diff=lfs merge=lfs -text
