[submodule "PostProcessing"]
	path = PostProcessing
	url = https://github.com/Unity-Technologies/PostProcessing
	branch = v2
[submodule "Tests/UTF_Core"]
	path = Tests/UTF_Core
	url = https://github.com/Unity-Technologies/UTF_Core.git
[submodule "Tests/UTF_Tests_HDRP"]

	path = Tests/UTF_Tests_HDRP

	url = https://github.com/Unity-Technologies/UTF_Tests_HDRP.git
