  
[[source]]
name = "pypi-artifactory"
url = "https://artifactory.prd.it.unity3d.com/artifactory/api/pypi/pypi/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"

[packages]
pyyaml = "*"
datetime = "*"
six = "*"
unity-downloader-cli = "*"
requests = "*"
#lz4 = "~=2.2.1"
future = "*"
semver = "*"