[[source]]
name = "pypi-artifactory"
url = "https://artifactory.prd.cds.internal.unity3d.com/artifactory/api/pypi/pypi/simple"
verify_ssl = true

[[source]]
name = "pypi-artifactory-internal"
url = "https://artifactory.prd.it.unity3d.com/artifactory/api/pypi/unity-pypi-local/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"

[packages]
pyyaml = "*"
datetime = "*"
six = "*"
unity-downloader-cli = "*"
requests = "*"