#root
{
    width: 100px;
    height: 100px;
}

#content {
    width: 100px;
    height: 100px;
    border-color: #1a1a1a;
    border-width: 2px;
}

#content > .preview-image {
    padding: 5px;
    -unity-font-style: bold;
    border-bottom-color: #1a1a1a;
    border-bottom-width: 1px;
}

.preview__container {
    margin: 5px;
}

