.MaterialNode #preview {
	height: 200;
	width: 200;
}

.MaterialNode #preview.inactive {
	background-color: #FF0000;
}

GridBackground {
	grid-background-color:rgb(20, 21, 21);
	line-color: rgb(20, 21, 21);
	thick-line-color: rgb(20, 21, 21);
	spacing:75.0;
	thick-lines:10;
}
