PBRSettingsView > #container{
    font-style: bold;
	text-color: rgb(200,0,200);
	background-color: #F0F0F0;
}
PBRSettingsView > #container > #nodename {
    font-style: bold;
	text-color: rgb(200,0,200);
	background-color: #F0F0F0;
}

PBRSettingsView > #container > .enumcontainer{
	text-color: rgb(245, 155, 225);
}

