.ge-edge-bubble-part {
    font-size: 11px;
    color : #999999;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgba(39, 39, 39, .9);
    border-color: rgba(21, 21, 21, .75);
    min-width: 24px;
    max-width: 150px;
    align-self: center;
    min-height: 24px;
    max-height: 150px;
    padding: 6px 8px;
    margin: 0;
    -unity-text-align: middle-center;
}
