.ge-main-toolbar #newGraphButton .icon {
    background-image: url("Icons/MainToolbar/CreateNew_lightFix.png");
}

.ge-main-toolbar #optionsButton .icon {
    background-image: url("Icons/MainToolbar/Options_lightFix.png");
}

.ge-main-toolbar #showMiniMapButton .icon {
    background-image: url("Icons/MainToolbar/MiniMap_lightFix.png");
}

.ge-main-toolbar #showBlackboardButton .icon {
    background-image: url("Icons/MainToolbar/Blackboard_lightFix.png");
}
