.ge-main-toolbar #newGraphButton .icon {
    background-image: url("Icons/MainToolbar/CreateNew.png");
}

.ge-main-toolbar #optionsButton .icon {
    background-image: url("Icons/MainToolbar/Options.png");
}

.ge-main-toolbar #showMiniMapButton .icon {
    background-image: url("Icons/MainToolbar/MiniMap.png");
}

.ge-main-toolbar #showBlackboardButton .icon {
    background-image: url("Icons/MainToolbar/Blackboard.png");
}
