MaterialGraphNode {
	flex-direction: row;
}

MaterialGraphNode #input {
	flex:1;
}

MaterialGraphNode #output {
	flex:1;
	justify-content: flex-end;
}

NodeAnchor {
	height: 26;
}

/* Example of dynamic properties
Read from the GridBackground decorator 
#contentViewContainer {
	background-color:#404749;
	line-color:#20293F;
	thick-line-color:#030C22;
	spacing:50.0;
	thick-lines:10;
}*/