Pass
{		
	Tags { "LightMode"="DepthOnly" }

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define VFX_PASSDEPTH VFX_PASSDEPTH_ACTUAL
	#pragma multi_compile _ WRITE_NORMAL_BUFFER
	#pragma multi_compile _ WRITE_MSAA_DEPTH
	${VFXIncludeRP("Templates/PlanarPrimitive/PassDepthOrMV.template")}

	ENDHLSL
}
