Pass
{		
	Tags { "LightMode"="MotionVectors" }
	
	${VFXStencilMotionVector}

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define IS_MOTION_VECTORS_PASS 1
	${VFXIncludeRP("Templates/PlanarPrimitive/PassDepthOrMV.template")}
	ENDHLSL
}
