HeaderDrawer {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 5;
    padding-right: 5;
    padding-top: 5;
    padding-bottom: 5;

}

HeaderDrawer #title {
    flex: 2;
    text-color: #FFFFFF;
    text-alignment: middle-left;
    font-size: 12;
    font-style: bold;
}

HeaderDrawer #expandButton {
    flex: 1;
    text-color: rgb(153, 153, 153);
    text-alignment: middle-right;
}
