HeaderDrawer {
    flex-direction: row;
}

HeaderDrawer #title {
    text-color: #FFFFFF;
	width: 200;
	text-alignment: middle-center;
}

HeaderDrawer #expandButton {
    text-color: #FFFFFF;
    position-type: absolute;
    position-top: 0;
    position-left: 5;
    width: 10;
	text-alignment: middle-center;
	height: 14;
}