#TitleBar {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #212121;
    padding-bottom: 1;
    padding-left: 1;
}

#TitleBar #left,
#TitleBar #right {
    background-color: #3d3d3d;
    flex: 1;
}

#TitleBar #left {
    /* background-color: #f00; */
    align-items: center;
    flex-direction: row;
}

#TitleBar #left #title {
    background-color: #f00;
    font-size: 12;
}