!.Documentation
!Documentation~
**/.vs
**/.vscode/
**/Library/
**/Logs/
**/obj/
**/Temp/
*.app
*.csproj
*.idea
*.rsp
*.sln
*.suo
*.swp
*.user
*.userprefs
*.VC.*
*~
.build_script/**
.DS_Store
.idea/
.npmrc
.vs/
artifacts/**
build.bat.meta
build.sh.meta
build/*
build/**
node_modules/**
npm-debug.log

