// Forward pass
Pass
{
    Name ${VFXPassForward}
	Tags { "LightMode"=${VFXPassForward} }

	${VFXStencilForward}

	HLSLPROGRAM
	#pragma target 4.5
	${VFXPassForwardAdditionalPragma}

	${VFXInclude("Shaders/ParticleHexahedron/PassBasicForwardCommon.template")}
	ENDHLSL
}
