// Forward pass
Pass
{		
	Tags { "LightMode"="SceneSelectionPass" }
	
	ZWrite Off
	Blend Off
	
	HLSLPROGRAM
	#define VFX_PASSDEPTH VFX_PASSDEPTH_SELECTION
	${VFXIncludeRP("Templates/Sphere/PassDepthOrMV.template")}
	ENDHLSL
}

Pass
{		
	Tags { "LightMode"="Picking" }
	
	ZWrite Off
	Blend Off
	
	HLSLPROGRAM
	#define VFX_PASSDEPTH VFX_PASSDEPTH_PICKING
	${VFXIncludeRP("Templates/Sphere/PassDepthOrMV.template")}
	ENDHLSL
}
