Pass
{		
	Tags { "LightMode"="DepthOnly" }

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define IS_MOTION_VECTORS_PASS 0
	${VFXInclude("Shaders/RenderPipeline/HDRP/Templates/PlanarPrimitive/PassDepthOrMV.template")}


	ENDHLSL
}
