Pass
{		
	Tags { "LightMode"=${VFXPassVelocity} }
	
	${VFXStencilMotionVector}

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define IS_MOTION_VECTORS_PASS 1
	${VFXInclude("Shaders/ParticlePlanarPrimitives/PassDepthOrMV.template")}
	ENDHLSL
}
