// Shadow pass
Pass
{		
	Tags { "LightMode"=${VFXPassShadow} }

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#pragma target 4.5
	#if !USE_ALPHA_TEST && IS_TRANSPARENT_PARTICLE
	#define USE_ALPHA_TEST 1
	#endif
	
	#define VFX_PASSDEPTH VFX_PASSDEPTH_SHADOW
	${VFXInclude("Shaders/ParticlePlanarPrimitives/PassDepthOrMV.template")}
	ENDHLSL
}
