.section-header {
    -unity-font-style: bold;
    margin-top: 6px;
    margin-bottom: 0;
    border-bottom-width: 0;
    border-bottom-color: rgb(196, 196, 196);
}

.section-header #unity-content {
    -unity-font-style: normal;
}

.category-header {
    -unity-font-style: bold;
    margin-bottom: 4px;
    border-bottom-width: 0;
    border-bottom-color: rgb(255, 255, 255);
}
