Pass
{		
	Tags { "LightMode"="MotionVectors" }
	
	${VFXStencilMotionVector}

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define IS_MOTION_VECTORS_PASS 1
	${VFXInclude("Shaders/RenderPipeline/HDRP/Templates/Mesh/PassDepthOrMV.template")}
	ENDHLSL
}
