<#@ template language="C#"
#><#@ import namespace="System.Text"
#><#@ import namespace="System.Collections.Generic"
#>
using System;
using System.Linq;
using NUnit.Framework;

#if FSCHECK
using FsCheck;
using UnityEngine.TestTools.FsCheckExtensions;
#endif

namespace UnityEngine.Rendering.Tests
{
    class SomeObject {}

    partial class EqualityTests
    {
#if FSCHECK
        [OneTimeSetUp]
        public static void SetupFixture()
        {
            ArbX.Register();
        }
#endif

<# foreach (var test in equalityTests) Write(test); #>

        [Test]
        public void EverythingVolumeComponentFilterEquality()
        {
            var l2 = new EverythingVolumeComponentFilter();
            var r2 = new EverythingVolumeComponentFilter();

            var expectsAreEquals = true;
            <# WriteEqualityCode(true); #>
            Assert.True(result);
        }
    }
}

<#+
    public struct EqualityTest
    {
        public string testName;
        public string buildFromType;
        public string constructor;
        public string expectsAreEqual;
        public bool addNullableTests;

        public EqualityTest(string testName, string buildFromType, string constructor, string expectsAreEqual, bool addNullableTests)
        {
            this.testName = testName;
            this.buildFromType = buildFromType;
            this.constructor = constructor;
            this.expectsAreEqual = expectsAreEqual;
            this.addNullableTests = addNullableTests;
        }
    }

    public void Write(EqualityTest test)
    {
        #>
        [Test]
        public void <#= test.testName #>()
        {
            bool Property(<#= test.buildFromType #> l, <#= test.buildFromType #> r)
            {
                var l2 = <#= string.Format(test.constructor, "l") #>;
                var r2 = <#= string.Format(test.constructor, "r") #>;

                var expectsAreEquals = <#= test.expectsAreEqual #>;
                <#+ WriteEqualityCode(test.addNullableTests); #>
                return result;
            }

#if FSCHECK
            Prop.ForAll<<#= test.buildFromType #>, <#= test.buildFromType #>>(Property).UnityQuickCheck();

            // Enforce testing equality
            var value = Arb.Generate<<#= test.buildFromType #>>().Eval(1, FsCheck.Random.StdGen.NewStdGen(0, 0));
            Assert.IsTrue(Property(value, value));
#else
            throw new NotImplementedException();
#endif
        }
<#+
    }

    public void WriteEqualityCode(bool addNullableTests)
    {
#>
                var areEquals = l2 == r2;
                var areEquals2 = l2.Equals(r2);
                var areEquals3 = l2.Equals((object)r2);
                var areNotEquals4 = l2 != r2;

                // The hashcode must be the same for identical values
                var hashCodeEquals = expectsAreEquals && l2.GetHashCode() == r2.GetHashCode()
                    || !expectsAreEquals;

                // Check equal to itself
                var isEqual = l2 == l2 && l2.GetHashCode() == l2.GetHashCode();

                var nullableTest = false;
<#+
        if (addNullableTests)
        {
#>
                r2 = null;
                nullableTest = !l2.Equals(r2);
<#+
        }
#>
                var result = areEquals == areEquals2
                    && areEquals == areEquals3
                    && areEquals != areNotEquals4
                    && hashCodeEquals
                    && areEquals == expectsAreEquals
                    && isEqual
                    && !l2.Equals((object)null)
                    && !l2.Equals((object)new SomeObject())
                    && l2.Equals((object)l2);
<#+
    }

    public static class Tests
    {
        public const string fromTypeConstructor = "{0}.FromType({{0}}.AsType())";
        public static EqualityTest VolumeComponentFilter(string className, string constructor)
            => new EqualityTest($"" +
                $"{className}Equality",
                "VolumeComponentType",
                string.Format(constructor, className),
                "l.AsType() == r.AsType()",
                true);
    }

    EqualityTest[] equalityTests = new[]
    {
        Tests.VolumeComponentFilter("IsSupportedVolumeComponentFilter", Tests.fromTypeConstructor),
        Tests.VolumeComponentFilter("IsExplicitlySupportedVolumeComponentFilter", Tests.fromTypeConstructor),
        new EqualityTest("VolumeComponentTypeEquality",
            "VolumeComponentType",
            "{0}",
            "l.AsType() == r.AsType()",
            false),
        new EqualityTest("IsVisibleVolumeComponentFilterEquality",
            "bool",
            "IsVisibleVolumeComponentFilter.FromIsVisible({0})",
            "l == r",
            true),
        new EqualityTest("VolumeComponentArchetypeEquality",
            "VolumeComponentType[]",
            "VolumeComponentArchetype.FromTypes({0})",
            "l.ToHashSet().SetEquals(r.ToHashSet())",
            true),
        new EqualityTest("VolumeComponentArchetypeTreeProviderPathNodeEquality",
            "(string name, VolumeComponentType type)",
            "new VolumeComponentArchetypeTreeProvider.PathNode({0}.name, {0}.type)",
            "(l.name == r.name && l.type == r.type)",
            true),
    };
#>
