.unity-list-view .odd {
    background-color: #3f3f3f;
}

/* We need to override the selected value in this case */
.unity-list-view .odd:selected {
    background-color: #3e5f96;
}

/* ========= Quality Settings Panel =========  */

.unity-quality-header-list {
    border-color: #1F1F1F;
}

.unity-quality-entry-tag {
    border-color: #1F1F1F;
}
