.unity-list-view .odd {
    background-color: #bcbcbc;
}

/* We need to override the selected value in this case */
.unity-list-view .odd:selected {
    background-color: #3e5f96;
}

/* ========= Quality Settings Panel =========  */

.unity-quality-header-list {
    border-color: #999999;
}

.unity-quality-entry-tag {
    border-color: #999999;
}
