#HelpBox
{
    background-color: #2E2E2E;
    border-color: #232323;
}

#OuterBox
{
    background-color: #424242;
}

#InnerBox
{
    background-color: #424242;
    border-color: #181818;
}

.Radio
{
    background-color: #282828;
    border-color: #181818;
}

.SelectedRadio
{
    background-color: rgba(0, 0, 0, 0);
}

ToolbarRadio
{
    background-color: rgba(0, 0, 0, 0);
    border-color: #181818;
}
