Pass
{		
	Tags { "LightMode"="DepthOnly" }

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#define VFX_PASSDEPTH VFX_PASSDEPTH_ACTUAL
	//TODOPAUL : flag for normal or not
	${VFXIncludeRP("Templates/Mesh/PassDepthOrMV.template")}

	ENDHLSL
}
