VFXBoardAttribute #attr
{
    flex:1;
    flex-direction: column;
    align-items:stretch;
}
VFXBoardAttribute *
{
    flex-direction: column;
    align-items:stretch;
}

VFXBoardAttribute * *
{
    flex-direction: row;
}

VFXBoardAttribute .propertyrm
{
    flex:1;
}

VFXBoardAttribute #name
{
    flex:1 1 auto;
}
VFXBoardAttribute #type-dropdown
{
    width:50;
    height:18;
}

