.ReorderableList
{
    background-color:#383838;
}

.ReorderableList #Toolbar
{
    padding-left:8px;
    padding-right:8px;
    background-color:#282828;
}

VFXBoardAttribute
{
    padding-left:8px;
    padding-right:8px;
}

