.ge-searcher-graph-view {
    padding: 5px;
    height: auto;
    min-width: auto;
    min-height: auto;
}

.ge-searcher-graph-view #content-view-container,
.ge-searcher-graph-view Layer,
.ge-searcher-graph-view .ge-node {
    position: relative;
}

.ge-searcher-graph-view GridBackground {
    display: none;
}
