ChannelEnumControlView {
    flex-direction: row;
}

ChannelEnumControlView > .unity-popup-field {
    width: 76;
    flex: 0;
    margin-left: 0;
    margin-right: 8;
    margin-top: 4;
    margin-bottom: 4;
}

ChannelEnumControlView > Label {
    width: 100;
    margin-left: 8;
    margin-right: 8;
    text-alignment : middle-left;
}
