ChannelEnumMaskControlView {
    flex-direction: row;
    padding-left: 8;
    padding-right: 8;
    padding-top: 4;
    padding-bottom: 4;
    width: 200;
}

ChannelEnumMaskControlView > IMGUIContainer {
    flex-direction: row;
    flex: 1;
}
