ChannelEnumControlView {
    flex-direction: row;
}

ChannelEnumControlView > .unity-popup-field {
    width: 76px;
    flex: 0;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

ChannelEnumControlView > Label {
    width: 100px;
    margin-left: 8px;
    margin-right: 8px;
    -unity-text-align : middle-left;
}
