EnumControlView {
    flex-direction: row;
    align-items: center;
}

.unity-base-field {
    width: 80;
	flex:1;
    margin-top: 4;
    margin-bottom: 4;
}

.unity-base-field__input {
	flex:1;
	margin-left: 0;
    margin-right: 8;
}

EnumControlView > Label {
    width: 94;
    text-alignment: middle-left;
    margin-left: 8;
    margin-right: 8;
}
