EnumConversionControlView {
    flex-direction: row;
    padding-left: 8;
    padding-right: 8;
    padding-top: 4;
    padding-bottom: 4;
}


.unity-base-field {
    width: 80;
	flex:1;
    margin-top: 1;
    margin-bottom: 1;
}

.unity-base-field__input {
	flex:1;
	margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

EnumConversionControlView > Label {
    margin-left: 4;
    margin-right: 4;
    text-alignment : middle-left;
}
