ToggleControlView > #togglePanel {
    padding-left: 8;
    flex-direction: row;
    flex-grow: 1;
}

ToggleControlView > #togglePanel > Label {
    width: 100;
    margin-left: 8;
    margin-right: 8;
    text-alignment : middle-left;
}

.unity-toggle{
    
    align-self: center;
}

.unity-toggle .unity-base-field__input{
    margin-right: 8;
    margin-top: 4;
    margin-bottom: 4;
    align-self: center;
}
