Shader "Hidden/VFX/ParticleCubes"
{
	SubShader
	{	
		Cull Back
		
		${VFXInclude("Assets/VFXEditor/Shaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleHexahedron/PassBasicForward.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleHexahedron/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
