Shader "Hidden/VFX/ParticlePoints"
{
	SubShader
	{	
		${VFXInclude("Assets/VFXShaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXShaders/ParticlePoints/PassDepth.template"),USE_OPAQUE_PARTICLE}
		${VFXInclude("Assets/VFXShaders/ParticlePoints/PassForward.template")}
		${VFXInclude("Assets/VFXShaders/ParticlePoints/PassMotionVectors.template"),USE_MOTION_VECTORS_PASS}
		${VFXInclude("Assets/VFXShaders/ParticlePoints/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
