Shader "Hidden/VFX/ParticleCubes"
{
	SubShader
	{	
		Cull Back
		
		${VFXInclude("Assets/VFXShaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXShaders/ParticleHexahedron/PassForward.template")}
		${VFXInclude("Assets/VFXShaders/ParticleHexahedron/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
