NodeSettingsView {
    width: 362;
    position: absolute;
    -unity-slice-top: 40;
    -unity-slice-left: 80;
    -unity-slice-right: 25;
    -unity-slice-bottom: 25;
    padding-top: 15;
    padding-left: 4;
    padding-right: 4;
    padding-bottom: 4;
    background-image: resource("Icons/Settings_Flyout_9slice");
}

NodeSettingsView > #mainContainer {
    padding-top: 4;
    padding-left: 4;
    padding-right: 4;
    padding-bottom: 4;
}
