NodeSettingsView > #mainContainer > #title {
    font-style: bold;
	font-color: rgb(0, 177, 200);
	background-color: #F0F0F0;
	width: 200;
}

NodeSettingsView > #mainContainer > .row {
    flex-direction: row;
}

NodeSettingsView > #mainContainer > .indented {
    padding-left: 8;
}

NodeSettingsView > #mainContainer > .row > .rowLabel{
    padding-left: 8;
	width: 200;
	font-color: rgb(200,0,200);
	background-color: #F0F0F0;
}