PropertySheet {
    margin-top: 4px;
    margin-bottom: 4px;
}
PropertySheet > #content > #header{
    margin-left: 4px;
}

PropertySheet > #content > #error {
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 15px;
    -unity-font-style: bold;
    background-color: red;
}

PropertySheet > #content > #header > Label{
    color: #C1C1C1;
    font-size: 11px;
    -unity-font-style: bold;
}
