PropertyNodeView.hovered #selection-border{
    background-color:rgba(68,192,255,0.4);
    border-color:rgba(68,192,255,1);
    border-left-width:2;
    border-right-width:2;
    border-top-width:2;
    border-bottom-width:2;
}
