.sgblackboardFieldView * {
    font-size: 11px;
}

.sgblackboardFieldView > .unity-imgui-container {
    margin-top: 4;
    margin-bottom: 4;
    margin-left: 16;
    margin-right: 4;
} 

.unity-object-field-display__icon {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 20px;
    max-height: 16px;
}
.unity-object-field-display__label {
    margin-top: 0;
    margin-bottom: 0;
}
