// Forward pass
Pass
{		
	Tags { "LightMode"=${VFXPassForward} }

	${VFXStencilForward}

	HLSLPROGRAM
	#pragma target 4.5
	${VFXPassForwardAdditionalPragma}
	
	${VFXInclude("Shaders/ParticleLines/PassForwardCommon.template")}
	ENDHLSL
}
