Shader "Hidden/VFX/ParticleQuads"
{
	SubShader
	{	
		${VFXInclude("Assets/VFXShaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXShaders/ParticleQuads/PassForward.template")}
	}
}
