Shader "Hidden/VFX/ParticleLines"
{
	SubShader
	{	
		${VFXInclude("Assets/VFXShaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXShaders/ParticleLines/PassForward.template")}
		${VFXInclude("Assets/VFXShaders/ParticleLines/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
