.PopupButton
{
	background-image: resource("Builtin Skins/DarkSkin/Images/mini popup.png");
}
.PopupButton:hover:active
{
	background-image: resource("Builtin Skins/DarkSkin/Images/mini popup act.png");
}

.PopupButton:hover
{
	background-image: resource("Builtin Skins/DarkSkin/Images/mini popup focus.png");
}