Shader "Hidden/VFX/ParticleLitQuads"
{
	SubShader
	{	
		Cull Off
		
		${VFXInclude("Assets/VFXEditor/Shaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/RenderPipeline/HDRP/Templates/Quad/PassGBuffer.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/particleQuads/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
