Shader "Hidden/VFX/ParticleMeshes"
{
	SubShader
	{	
		Cull Off
		
		${VFXInclude("Assets/VFXShaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXShaders/ParticleMeshes/PassDepth.template"),IS_OPAQUE_PARTICLE}
		${VFXInclude("Assets/VFXShaders/ParticleMeshes/PassForward.template")}
		${VFXInclude("Assets/VFXShaders/ParticleMeshes/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
