Shader "Hidden/VFX/ParticleQuads"
{
	SubShader
	{	
		Cull Off
		
		${VFXInclude("Assets/VFXEditor/Shaders/VFXParticleHeader.template")}

		${VFXInclude("Assets/VFXEditor/Shaders/particleSpheres/PassForward.template")}
	}
}
