Shader "Hidden/VFX/ParticleMeshes"
{
	SubShader
	{	
		Cull Off
		
		${VFXInclude("Assets/VFXEditor/Shaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleMeshes/PassDepth.template"),IS_OPAQUE_PARTICLE}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleMeshes/PassForward.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleMeshes/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
