Shader "Hidden/VFX/ParticleLines"
{
	SubShader
	{	
		${VFXInclude("Assets/VFXEditor/Shaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleLinesSW/PassDepth.template"),IS_OPAQUE_PARTICLE}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleLinesSW/PassForward.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/ParticleLinesSW/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
