Shader "Hidden/VFX/ParticleSpheres"
{
	SubShader
	{	
		Cull Off
		
		${VFXInclude("Assets/VFXEditor/Shaders/VFXParticleHeader.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/RenderPipeline/HDRP/Templates/Sphere/PassGBuffer.template")}
		${VFXInclude("Assets/VFXEditor/Shaders/particleSpheres/PassShadowCaster.template"),USE_CAST_SHADOWS_PASS}
	}
}
