DiffusionProfileSlotControlView {
    flex-direction: row;
    align-items: center;
}

.unity-base-field {
     width: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.unity-base-field__input{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.unity-object-field__object{
    overflow:hidden;
}
