.unity-toolbar.unity-disabled
{
    opacity: 1;
    background-color: #333;
}

.unity-toolbar.unity-disabled *
{
    background-color: rgba(0,0,0,0);
    color: #555;
}

.unity-toolbar.unity-disabled > .unity-toolbar-toggle .unity-label
{
    color: #555;
}
