// Forward pass
Pass
{		
	Tags { "LightMode"=${VFXPassForward} }
	
	${VFXStencilForward}

	ZWrite Off
	
	HLSLPROGRAM
	${VFXPassForwardDefine}
	${VFXInclude("Shaders/ParticleDecals/Pass.template")}
	
	ENDHLSL
}
