VFXContextUI.init {
	rect-color:#FFFF00;
}

VFXContextUI.update {
	rect-color:#00FFFF;
}

VFXContextUI.output {
	rect-color:#FF0000;
}

VFXContextUI.graphElement.selected {
	rect-color:#FFFFFF;
}

#vfx {
	grid-background-color:#303030;
	line-color:#252525;
	thick-line-color:#151515;
	spacing:75.0;
	thick-lines:5;
}